<div class="container">
  <h1><%= @cocktail.name %></h1>
  <br>
  <p><strong>details</strong></p>
  <ul>
    <% @cocktail.doses.each do |dose|  %>
    <li><%= dose.ingredient.name %> --- <%= dose.description %> |
      <%= link_to 'delete', dose_path(dose), method: :delete, data: { confirm: "sure?"} %></li>
    <% end %>
  </ul>
  <br>
  <br>
  <%= link_to 'Add a new dose', new_cocktail_dose_path(@cocktail) %>
  <br>
  <br>
  <%= link_to 'Back to the list', root_path %>
</div>
